body{ 
    font-family: 'Mukta', sans-serif; 
    font-size: 120%; 
    @media(min-width:768px){
        font-size: 137.5%;
    }
    @media(min-width:992px){
        font-size: 160%;
    }
    @media(min-width:1200px){
        font-size: 180%;
    }
}

h1,h2,h3,h4,h5,h6{ font-weight: bold; }
h2{ font-size: 1.36em; }
.section{ padding-left: 15px; padding-right: 15px; }

::-webkit-input-placeholder { /* Edge */font-weight: bold; color: #ACACAC; font-size: 100%; }
:-ms-input-placeholder { /* Internet Explorer 10-11 */font-weight: bold; color: #ACACAC; font-size: 100%; }
::placeholder { font-weight: bold; color: #ACACAC; font-size: 100%; }

.watch-video{
    position: fixed;
    right: 0;
    top: 5%;
    z-index: 1;
    transform: translateX(calc(100% - 50px));
    background: #FFB507 url(../images/Triangle.svg) no-repeat 22px center/15px;
    padding: 14px 50px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .72em;
    transition: .1s;
    &.is-active{
        transform: translateX(0);
        padding: 14px 40px;
        background-size: 0;
    }
}
.scroll-to{
    position: fixed;
    right: 5%;
    bottom: 3%;
    z-index: 1;
    color: #ffffff;
    text-align: center;
    font-size: .72em;
    strong{  display: block; }
    &__svg{
        width: 60px;
        height: 60px;
        transform: translateY(-20px);
        transition: .2s;
        margin-bottom: 5px;
        animation: scroll-to 2s linear infinite;
    }
    @keyframes scroll-to {
        0%{
            transform: translateY(-20px);
        }
        50%{
            transform: translateY(0px);
        }
        100%{
            transform: translateY(-20px);
        }
    }
    @media(min-width: 768px){
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
    }
}


.home{
    background:#450064;
    color: #ffffff;
    text-align: center;
    &__katak-tish{ 
        float: left;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    &__cankafan{ 
        font-size: 0; 
        margin-bottom: 20px;
    }
    &__asli-maza{ 
        font-size: 0; 
        margin-bottom: 20px;
    }
    &__text{
        margin-bottom: 20px;
    }
    @media(min-width: 768px){
        &__text{
            width: 444px;
            margin-left: auto;
            margin-right: auto;
        }        
    }
}
.partners{ 
    background: #01A09B;
    &__heading{
        margin-bottom: 20px;
    }
    &__text{
        margin-bottom: 30px;
    }
    &__img{
        text-align: center;
    }
    @media(min-width:768px){
        &__content{
            width: 542px;
            margin: auto;
        }
        text-align: center;
    }    
}
.footer{ 
    background-color: #02204E; 
    color: #ffffff;
    padding: 20px;
    .l-flex{ flex-direction: column; }
    @media(min-width: 768px){
        padding: 20px 50px;
        .l-flex{ flex-direction: row; }
    }
}
.followus-wrapper{
    display: inline-block;
    text-align: center;
    &__text{
        margin-bottom: 5px;
    }
    @media(max-width: 767px){
        margin-bottom: 20px;
    }
    @media(min-width: 768px){
        .l-flex{ flex-direction: row; }
    }
}
.followus-links{
    font-size: 0;
    li{ 
        display: inline-block; 
        margin: 0 10px;
        &:first-child{
            margin-right: 4px;
        }
    }
    &__svg{
        width: 23px;
        height: 23px;
    }
}
.footer-links{
    li{ 
        display: inline; 
        margin: 0 10px;
    }
}
.enquiry{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.enq-form{
    margin-top: 20px;
    &__inputWrap{
        margin-bottom: 10px;
    }
    &__inputWrap input,
    &__inputWrap textarea{
        background: #EAEAEA;
        border: none;
        text-transform: uppercase;
        padding: 10px;
        font-size: 0.72em;
        width: 100%;
        text-align: center;
        max-width: 528px;
        border-radius: 6px;
    }
    &__submit{
        display: inline-block;
        background: #FFB507;
        color: #ffffff;
        margin-top: 20px;
        padding: 8px 50px;
        border-radius: 40px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.72em;

    }
}
.faq{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #FFE8B2;
    text-align: center;
    .ta-container{
        max-width: 1046px;
        margin: auto;
    }
}

.faq-box{
    text-align: left;
    &__item{
        border-bottom: 1px solid rgba(204,204,204,0.5);
        &:last-child{border-bottom: 0;}
    }
    &__item.is-active{
        .faq-box__ico--plus{ display: none; }
        .faq-box__ico--minus{ display: block; }
    }
    &__ico-wrap{
        display: inline-block;
        font-size: 0;
    }
    &__ico{
        width: 14px;
        height: 14px;
        &--minus{
            display: none;
        }
        @media(min-width: 768px){
            width: 20px;
            height: 20px;
        }
    }
    &__question{
        padding: 14px 0;
    }
    &__answer{
        display: none;
        position: relative;
        padding-left: 20px;
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 30px;
        &:before{
            content: "";
            position: absolute;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: #02204E;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
    &__content{
        display: inline-block;
        max-width: 468px;
    }
}
.section-heading{
    margin-bottom: 20px;
    &__content{
        display: inline-block;
    }
}

.seprator{
    position: relative;
    display: block;
    font-size: 0;
    margin: 14px 0px;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        background: #CBCBCB;
    }
    &__svg{ 
        position: relative; 
        width: 40px;
        height: 40px;
    }
}

.testimonial{
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background: url(../images/testimonial/left-path.svg) no-repeat bottom left, 
    url(../images/testimonial/right-path.svg) no-repeat top right;
}

.testi-slider{
    .slick-dots{
        font-size: 0;
        display: flex;
        justify-content: center;
    }
    .slick-dots button{
        background: #979797;
        border: none;
        font-size: 0;
        padding: 8px;
        border-radius: 50%;
    }
    .slick-dots li{
        margin: 0 6px;
    }
    .slick-dots li.slick-active button{
        background-color: #FFB507;
    }
    &__content{
        display: inline-block;
        max-width: 338px;
    }
    &__svg{
        margin-bottom: 20px;
    }
    &__text{
        margin-top: 20px;
        margin-bottom: 40px;
    }
    &__name{
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

.about{
    background: url(../images/about/bg.jpg) no-repeat center/cover;
    padding-top: 60px;
    padding-bottom: 60px;
    &__h2,
    &__p,
    &__img{
        margin-bottom: 20px;
    }
    @media(min-width: 768px){
        padding-top: 120px;
        padding-bottom: 120px;
        &__content{
            position: relative;
            width: 328px;
            left: 15%;
        }
        &__img{
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    @media(min-width: 1200px){
        &__img{
            max-width: initial;
        }
    }

    // &__wrap{
    //     max-width: 895px;
    //     margin:auto
    // }
    // &__content{
    //     max-width: 328px;
    // }
}


// VIDEO SECTION
.video{
    padding-left: 0;
    padding-right: 0;
    color: #ffffff;
}
.v-slider{
    &__bg{
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 200px;
        padding-bottom: 200px;
        &:before{
            content: "";
            background: rgba(0, 0, 0, 0.9);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__content{
        position: relative;
        padding: 0 15px;
        @media(min-width: 768px){
            width: 516px;
            margin: auto;
        }
    }
    &__h2{
        position: relative;
        margin-bottom: 14px;
        padding-bottom: 8px;
        &:before{
            content: "";
            position: absolute;
            height: 1px;
            width: 100px;
            background: #ffffff;
            bottom: 0;
        }
    }
    &__play-wrap{
        display: block;
        float: right;
        font-size: 0;
        position: relative;
        z-index: 1;
    }
    &__play{
        width: 44px;
        height: 44px;
        @media(min-width:768px){
            width: 64px;
            height: 64px;
        }
    }
    &__arrows{
        position: absolute;
        bottom: 150px;
        left: 50%;
        transform: translateX(50%);
        display: flex;
    }
    &__prev{
        width: 50px;
        height: 50px;
    }
    &__next{
        width: 50px;
        height: 50px;
    }
}
// VIDEO SECTION


.fayde{
    background: #E4C268;
    &__wrap{
        position: relative;
    }
    &__can-wrap{
        transition: .2s;
        transform: rotate(-12deg);
        text-align: center;
    }
    &__content{
        margin-bottom: 30px;
        text-align: center;
    }
    &__can{
        display: inline-block;
        position: relative;
        padding: 40px;
    }
    &__svg{
        width: 80px;
        height: 80px;
    }
    &__hotspot{
        position: absolute;
        font-size: 0;
        &--one{
            top: 0px;
            left: 50%;
            transform: rotate(-90deg) translateY(-50%);
        }
        &--two{
            top: 30%;
            left: 0;
            transform: rotate(180deg) translateY(0%);
        }
        &--three{
            top: 60%;
            left: 0;
            transform: rotate(180deg) translateY(0%);
        }
        &--four{
            top: 30%;
            right: 0;
            transform: rotate(0deg) translateY(0%);
        }
        &--five{
            top: 60%;
            right: 0;
            transform: rotate(0deg) translateY(0%);
        }
    }
    &__img{
        position: relative;
    }
    @media(min-width: 992px){
        &__wrap{
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
        }
        &__content{
            position: absolute;
            right: 100%;
            width: 300px;
            top: 50%;
            transform: translateY(-50%);
            text-align: left;
        }
    }

}



.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
}

.faydepop{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    width: 80%;
    background: #ffffff;
    z-index: 2;
    &__svg{
        width: 70px;
        height: 70px;
    }
}