*{ margin: 0; padding: 0; }
body{ font-family: 'Mukta', sans-serif; }
#section1{ background: url(../images/purplebg.jpg) no-repeat center/cover; }
#section2{ background: url(../images/greenbg.jpg) no-repeat center/cover; }
#section3{ background: url(../images/yellow.jpg) no-repeat center/cover; }
#section4{ background: url(../images/lightpurple.jpg) no-repeat center/cover; }

.watchVideo{
    transition: .2s;
    position: fixed;
    right: 0;
    top: 5%;
    &__play{
        background: #FFB507 url(../images/Triangle.svg) no-repeat 28px center/30%;
        width: 0;
        height: 0;
        padding: 20px 30px;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
    }
    &__text{
        background: #FFB507;
        padding: 20px;
    }
    &.open{
        transform: translateX(calc(100% - 60px));
    }
}
.homeMain{
    color: #ffffff;
    img{ display: block; margin: auto; }
    &__katak-tish{
        position: absolute;
        top: 5%;
        left: 5%;
    }
}